{% extends "gso_office/gso_base_dashboard.html" %}

{% block title %}Account Management{% endblock %}

{% block main_content %}
<div class="header d-flex align-items-center justify-content-between">
    <h1 class="page-title">INVENTORY</h1>

    <form method="get" class="d-flex gap-2">
        <!-- Search -->
        <input 
            type="text" 
            name="user_status" 
            class="form-control form-control-sm" 
            placeholder="Search materials..." 
            value="{{ request.GET.user_status }}"
        >
    
        <!-- Status Filter -->
        <select name="unit" class="form-select form-select-sm" onchange="this.form.submit()">
            <option value="">All Units</option>
            {% for u in units %}
                <option value="{{ u.id }}" {% if request.GET.unit == u.id|stringformat:"s" %}selected{% endif %}>
                    {{ u.name }}
                </option>
            {% endfor %}
        </select>
    </form>
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>NO.</th>
                <th>MATERIAL NAME</th>
                <th>QUANTITY</th>
                <th>ACTION</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>1</td>
                <td>Door Handle</td>
                <td>1</td>
                <td><button class="btn btn-sm btn-primary">Update</button></td>
            </tr>

        </tbody>
        
    </table>
</div>
{% endblock %}
