{% extends "personnel/personnel_base_dashboard.html" %}

{% block title %}Request Management{% endblock %}

{% block main_content %}
<div class="header">
    <h1 class="page-title">TASK HISTORY</h1>
    <input type="text" class="search-bar" placeholder="Search...">
</div>

<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>REQUEST ID</th>
        <th>REQUESTING OFFICE</th>
        <th>REQUEST TYPE</th>
        <th>DATE SUBMITTED</th>
        <th>DATE COMPLETED</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
      {% for task in history %}
      <tr>
        <td>{{ task.request_id }}</td>
        <td>{{ task.requesting_office }}</td>
        <td>{{ task.unit|title }}</td>
        <td>{{ task.created_at|date:"Y-m-d" }}</td>
        <td>
        {% if task.date_completed %}
            {{ task.date_completed|date:"Y-m-d" }}
        {% else %}
            N/A
        {% endif %}
        </td>
        <td>
          <span class="status-badge status-{{ task.status|lower }}">
            ● {{ task.status }}
          </span>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6" class="text-center">No completed tasks yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
